.wrapper {
    width: 350px;
    min-height: 130px;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid teal;
}

.infoWrapper {
    width: 100%;
    margin-left: 10px;
    text-align: center;
}

.name {
    font-size: 16px;
    font-weight: bold;
}
