.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.userBlock {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.authBlock {
    display: flex;
    width: 300px;
    margin-left: auto;
    align-items: center;
}

